label {
    width: 250px;
    margin-right: 10px;
    margin-left: 20%;
    text-align: left;
    float: left;
}
.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 70px 0;
  }
  .box {
    position: relative;
    left: 20%;
    }
     .inputField{
        width:100px;
        box-sizing:border-box;
        width: 250px;
    }
